*/.idea
/.idea
*/build
/predictor/data
/predictor/lightning_logs
/predictor/models
/predictor/predictor.egg-info
/.gemini
/gemini_files
GEMINI.md
OVERVIEW.md
.env
api-json.json
node_modules
*/dev-dist
*/dist
*/uploads
predictor/predictor/__pycache__/
predictor/predictor/__pycache__/serve_rabbitmq.cpython-310.pyc
