global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'backend'
    static_configs:
      - targets: ['backend:3000']
    metrics_path: '/metrics'

  - job_name: 'predictor'
    static_configs:
      - targets: ['predictor:8080']
    metrics_path: '/metrics'

  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres_db:5432']

  - job_name: 'redis'
    static_configs:
      - targets: ['redis:6379']
